.title-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3d002a;

    span {
        font-family: 'Pacifico', cursive;
        font-size: 110px;
        color: #ff9933;
    }

    button {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: white;
        background-color: #9999ff;
        border-radius: 10px;
        padding: 24px 68px;
        border: none;
    }

    button:hover {
        cursor: pointer;
        background-color: #7f7fd2;
    }
}

@media screen and (max-width: 480px) {
    .title-container {
        
    
        span {
            font-size: 50px;
        }
    
        button {
            font-size: 12px;
            padding: 12px 34px;
        }
    
    }
}