.search-bar-container {
    position: absolute;
    right: 390px;
    top: 15px;
}
  
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    background-color: #3d002a;
    position: absolute;
    right: 0;
    top: 0;
    padding: 35px 0;
    gap: 25px;
  
    input {
      width: 70%;
      font-size: 26px;
      color: #ff9933;
      background: none;
      border: none;
    }
}

@media screen and (max-width: 480px) {
  .search-bar-container {
    right: 150px;
    top: 8px;
}
  
.search-bar {
    width: 265px;
    padding: 20px 0;
    gap: 0px;
    justify-content: space-evenly;
  
    input {
      width: 75%;
      font-size: 20px;
    }
}
}